@font-face {
    font-family: "ARS Maquette";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ars_maquette/ars-maquette-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ars_maquette/ars-maquette-regular.woff") format("woff"), url("../fonts/ars_maquette/ars-maquette-regular.ttf") format("truetype");
    }
@font-face {
    font-family: "ARS Maquette";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/ars_maquette/ars-maquette-regular-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/ars_maquette/ars-maquette-regular-italic.woff") format("woff"), url("../fonts/ars_maquette/ars-maquette-regular-italic.ttf") format("truetype");
    }
@font-face {
    font-family: "ARS Maquette";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/ars_maquette/ars-maquette-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ars_maquette/ars-maquette-medium.woff") format("woff"), url("../fonts/ars_maquette/ars-maquette-medium.ttf") format("truetype");
    }
@font-face {
    font-family: "ARS Maquette";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ars_maquette/ars-maquette-bold-alt.eot?#iefix") format("embedded-opentype"), url("../fonts/ars_maquette/ars-maquette-bold-alt.woff") format("woff"), url("../fonts/ars_maquette/ars-maquette-bold-alt.ttf") format("truetype");
    }
@font-face {
    font-family: "ARS Maquette";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/ars_maquette/ars-maquette-bold-italic-alt.eot?#iefix") format("embedded-opentype"), url("../fonts/ars_maquette/ars-maquette-bold-italic-alt.woff") format("woff"), url("../fonts/ars_maquette/ars-maquette-bold-italic-alt.ttf") format("truetype");
    }
@font-face {
    font-family: "ARS Maquette";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/ars_maquette/ars-maquette-black-alt.eot?#iefix") format("embedded-opentype"), url("../fonts/ars_maquette/ars-maquette-black-alt.woff") format("woff"), url("../fonts/ars_maquette/ars-maquette-black-alt.ttf") format("truetype");
    }
@font-face {
    font-family: 'fontastique';
    src: url('../fonts/fontastique.ttf') format('truetype');
    }	  
@font-face {
	font-family: 'cc';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/cc-icons.ttf') format('truetype');
	}
 @font-face {
    font-family: "ubuntu light";
    font-style: normal;    
    src: url("../fonts/ubuntu/Ubuntu-L.ttf") format("truetype");
    }